<h1>Login</h1>
<hr>

<div class="row">
    <div class="col-sm-6 col-sm-offset-1">

      <% if @login_fail.present? %>
        <div class="alert alert-danger">
          <strong><%= @login_fail %></strong>
        </div>
      <% end %>

      <%= form_tag '/login' do %>

        <div class="form-group">
          <%= label_tag :email %>
          <p class:"form-control"><%= email_field_tag :email %></p>
        </div>

        <div class="form-group">
          <%= label_tag :password %>
          <p class:"form-control"><%= password_field_tag :password %></p>
        </div>

        <%= submit_tag 'Login!', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>